<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>insert_school</h1>
    
    <form method="POST">
        {% csrf_token %}

        <label for="scn">Scname</label>
        <input type="text" name="scn" id="scn"><br><br>

        <label for="scp">Scprincipal</label>
        <input type="text" name="scp" id="scp"><br><br>

        <label for="scl">Sclocation</label>
        <input type="text" name="scl" id="scl"><br><br>

        <input type="submit" value="insert_school">

    </form>
    
    
    </center>
</body>
</html>